%h1 Listing Orders #{weekday.title}
%ul.nav.navbar-nav
  - @orders.each do |order|
    - order.order_products.each do |order|
      %li= order.product.title
      %br
      %li= number_to_currency(order.product.price, locale: :ru)
      %br
    %br
    %p
      %strong User:
      = order.user.email
      %br
      %strong Total Price:
      = number_to_currency(order.total_price, locale: :ru)
      %hr

  %h4
    %strong Summary:
    = number_to_currency(@orders.sum(:price), locale: :ru)
