%h1 Listing Users
%ul.nav.navbar-nav
  - @organizations.each do |organization|
    %li
      %h3
        %strong Organization:
        %strong= organization.name
      %hr
    %br
    %ul
      - organization.users.each do |user|
        %li
          %strong Name:
          = user.name
        %br
        %li
          %strong Email:
          = user.email
        %br
        %li
          %strong First name:
          = user.first_name
        %br
        %li
          %strong Last name:
          = user.last_name
          %br
          %hr
        %br


