%ul.nav.navbar-nav
- @products.each do |category, products|
  %li= category.name
  %ul
    - products.each do |product|
      %li= product.title.humanize
      %li
        = number_to_currency(product.price, locale: :ru)
      %li
        = button_to 'Add to Cart', weekday_order_products_path(product_id: product)
      %hr

= link_to 'New Product', new_weekday_product_path
